<link rel = "stylesheet" href="~/css/style.css">
<h1 class="head"><a href="/">Home</a> | <a href="/Projects">Project</a> | </a></h1>

<h2> Contact me </h2>
<div class = "row">
    <form action="">
        <div class="column">
            <div class="form">
                <label for="Name">Name:</label>
                <input type = "text" name="name">

                <label for = "Email">Email:</label>
                <input type = "text" name="Email">

                <label for="Message">Message:</label>
                <input type="text" name ="Message">

                <input type = "submit" value="Send">
                <button action = "submit">Submit</button>
            </div>
        </div>
    </form>
</div>