<link rel="stylesheet" href="~/css/style.css">
<link rel="image" href="~/Images/cats.jpg">
<h1 class="head"><a href="/">Home</a> | <a href="/Projects">Project</a> | <a href="/Contact">Contact</a></h1>

<div class = "row">
    <div class="column">
        <img src="~/images/cats.jpg" width = "300" alt = "cat">
        <h3 class = "dings"></h3> About me</h3>
        <h4> Other stuf about me </h4>
    </div>
    <div class="column">
        My name is greg i am goin to write a bunch a stuff about what i am to simulate the real life blogging capabilities of the assignment. 

            I very much like to do activities and leaRN THINGS SUCH AS LEARNING. i also love to consume food, see nature, hear music, watch sport.a

            My favorite past time is bone broth and my favorite color isnt. The crazy thing about this is that when I get to the point of doing something cool for myself I think proceed to make sure that all necessary requirements of a good human psyche are inplace and make sure that our great nation will prosper.
        
    </div>
</div>