<link rel="stylesheet" href="~/css/style.css">
<h1 class="head"><a href="/">Home</a> | <a href="/Projects">Project</a> | <a href="/Contact">Contact</a></h1>

<h2>Here are some projects of mine</h2>
<div class = "project">
@{
    for (int i = 0; i < 3; i++)
    {
        <div class="proj-row">
            
                <div class = "proj" - row>
                    <img src="~/images/cats.jpg" width = "40" class = "proj-col-left" alt="">
                    <p>Stuff</p>
                </div>
            
        </div>
    }
}
</div>